$color-primary-900: #5d5fef;
$color-primary-500: #467de8;
$color-danger-900: #ef5d5d;

$color-gray-800: #262628;
$color-gray-700: #2d3748;
$color-gray-500: #b6b6b6;
$color-gray-400: #a0aec0;
$color-gray-300: #adadad;
$color-gray-200: #dadada;
$color-gray-100: #e6e4e4;
$color-gray-variant: #9797bd;

$color-success-500: #65d37d;

$color-blue-gray-900: #151d48;
$color-blue-gray-700: #737791;

$color-white: #ffffff;
$color-black: #000000;

$color-background: #f1f1f1;

$upper-z-index: 2;
$under-z-index: -1;
